@import url("../input/input.css");

.dropdown-container {
    position: relative;
}

.dropdown-container .textfield--dropdown-icon {
    top: 40px !important;
}
.dropdown {
    position: relative;
}

.container-header__filter .dropdown {
    width: 220px;
}

.dropdown__list {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    max-height: 206px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(23, 27, 42, 0.24);
    border-radius: 4px;
    cursor: pointer;
    z-index: 10;
    overflow: auto;
}

.dropdown__list.active {
    display: block;
}

.dropdown__list-item {
    display: flex;
    height: 36px;
    /* line-height: 36px; */
    margin: 0 4px;
    padding-left: 7px;
    font-weight: 400;
    color: #1f1f1f;
    cursor: pointer;
    column-gap: 8px;
    align-items: center;
}

.dropdown__list-item + .dropdown__list-item {
    margin-bottom: 3px;
}

.dropdown__list-item:hover {
    background-color: var(--color-focus);
    border-radius: 4px;
}

.dropdown__list-item:not(.dropdown__list-item--selected):hover {
    color: #fff;
}

.dropdown__list-item--selected:hover {
    background-color: var(--color-hover-table);
}

.dropdown__list-item.dropdown__list-item--selected {
    border-radius: 4px;
    background-color: var(--color-hover-table);
}

.dropdown__list-item--selected {
    border-radius: 4px;
    background-color: var(--color-hover-table);
}

.dropdown__list-item:last-child {
    margin-bottom: 8px;
}

.dropdown__list-item:first-child {
    margin-top: 8px;
}

.dropdown__list-item-content {
    flex: 1;
}
