h1 {
    font-size: 24px;
    text-align: center;
}
h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.list-card__item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .card__item {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        width: 200px;
        height: 80px;
        padding: 6px;
        border-radius: 6px;
        cursor: pointer;
    }
}
